alpaca-py==0.43.4
annotated-types==0.7.0
boto3==1.43.9
botocore==1.43.9
certifi==2025.11.12
charset-normalizer==3.4.7
idna==3.15
jmespath==1.1.0
llvmlite==0.47.0
msgpack==1.1.2
numba==0.65.1
numpy==1.26.4
pandas==2.3.3
polygon-api-client==1.16.3
psycopg2-binary==2.9.12
py-vollib-vectorized==0.1.1
py_lets_be_rational==1.0.1
py_vollib==1.0.7
pydantic==2.13.4
pydantic_core==2.46.4
python-dateutil==2.9.0.post0
pytz==2026.2
PyYAML==6.0.3
requests==2.34.1
s3transfer==0.17.0
scipy==1.17.1
simplejson==3.20.2
six==1.17.0
sseclient-py==1.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
vollib==1.0.7
websockets==16.0
